@import 'variables';
.sub-header {
	background-color: $bluegov;
	height: 46px;
	line-height: 46px;
}

.sub-header ul li {
	display: inline-block;
}

.sub-header ul.left-info li {
	border-left: 1px solid $mywhite;
	padding: 0px 20px;
}

.sub-header ul.left-info li:last-child {
	border-right: 1px solid $mywhite;
}

.sub-header ul.left-info li i {
	margin-right: 10px;
	font-size: 18px;
}

.sub-header ul.left-info li a {
	color: $mywhite;
	font-size: 14px;
	font-weight: 600;
}

.sub-header ul.right-icons {
	float: right;
}

.sub-header ul.right-icons li {
	margin-right: -4px;
	width: 46px;
	display: inline-block;
	text-align: center;
	border-right: 1px solid $mywhite;
}

.sub-header ul.right-icons li:first-child {
	border-left: 1px solid $mywhite;
}

.sub-header ul.right-icons li a {
	color: $mywhite;
	transition: all 0.3s;
}

.sub-header ul.right-icons li a:hover {
	opacity: 0.75;
}