/* --------------- Variables Style ------------------- */

// Paleta de Colores SATENA
$myblue:         #11304C;
$myyellow:       #EEDA12;
$myredcorocora:  #AF001F;
$myredvolume:    #80002e;
$mywhite:        #F5F5FA;
$myblack:        #252525;

// Paleta de colores GOV.CO
$bluegov:      #0066CD;

/* --------------- Fin Variables Style --------------- */